.btn-div{
    padding-top: 2%;
}

.question-block{
   display: block;
   width: 70%; 
   height: 9vh;
   margin-left:15%;
   margin-right:15%;
   margin-bottom: 0;
   border: none;
   background-color: #f5f3f3;
   
}
.question-block:hover{
    background-color: #dbdbdb;
 }
.question-title{
    display: inline-flex;
    position: absolute;
    max-height: 16vh;
    vertical-align: middle ;
    font-size: 4vh;
    margin: 0;
    padding: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

.arrow-div{
 position: absolute;
 padding-left: 65%;
 padding-top: 1.7%;
}

.arrow-down {
    display: inline-flex;
    width: 0; 
    height: 0; 
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid rgb(181, 182, 181);
  }

.arrow-down.clicked{
    transition: 1s ease-out;
    transform:rotate(180deg);
}