.answer-block{
    width: 70%; 
    height: 6vh;
    margin-left:15%;
    margin-right:15%;
    border: none;
    opacity: 0;
   
 }
 .answer-block.clicked{
    display: inline-flex; 
    transition: 1s ease-out;
    opacity: 1;
    background-color: #f5f3f3;
}


 .answer-text{
    display: inline-flex;
    position: absolute;
    vertical-align: middle ;
    margin: 0;
    padding: 1%;
    font-size: 1.8vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 
